body{
    padding-bottom:100px;
} /* Height of the footer element */
footer {
    color: #FFFFFF;

    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    left:0;

    z-index: 1;
}


#siteSignature{
    color: #FFFFFF;
    font-size: 20px;

}