.navbar{
    padding-top:0px;
    padding-bottom:5px;
    margin:0px 0px 0px 0px;
    padding-right: 10px;
}

#opis{
    color: white;
    font-size: 1.1em;
}

.patka{
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}


#login-btn{
   padding: 8px !important;
    padding-bottom: 7px !important;
    overflow: hidden;
    margin-right: 0px !important;
    margin-top:0px !important;
}

#signup-btn{
    padding: 8px !important;
    padding-bottom: 7px !important;
    overflow: hidden;
    margin-right: 0px !important;
    margin-top:0px !important;
}

#mini-profile{
    margin-top:7px;
}

#siteSignature{
    color:white;
    font-size: 1.5em !important;
}

.glyphicon-user{
    color:white;
}

.btn-outline {
    background-color: transparent !important;
    color: inherit !important;
    transition: all .5s;
    padding:8px !important;
}



.btn-primary.btn-outline {
   overflow:hidden; 
   color: white !important;
}
