.navbar-collapse{
    padding-top:0px;
    padding-bottom:0px;
    margin:0px 0px 0px 0px;
    padding-right: 10px;
}

#opis{
    color: white;
    font-size: 1.1em;
}

.patka{
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}


#login-btn{
   padding: 9px;
    overflow: hidden;
}

#signup-btn{
    padding: 9px;
    overflow: hidden;
}