.page-title {
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    bold: 23;
    padding-bottom: 50px;
}

#search-header {

    padding: 30px;
}

header{
    padding: 30px;
}

.row{
    margin-bottom:50px;
}

.dropdown{
    width:100%;
}

.dropdown-toggle{
    width:100%;
}

.dropdown-menu{
    width:100%;
}

#pretrazi{
    width:100%;
}

body{
    background-image: url("../backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


ul{
    list-style: none;
}

#tablerow {
    display: table;
    float:none;
    margin:auto;
    margin-bottom:60px;

}

#colSlika {
    float: none;
    display: table-cell;
    vertical-align: middle;

}



#colPodaci {

    float: none;
    display: table-cell;
    vertical-align: middle;
}

#ime-i-prezime{
    margin:0px 0px 0px 0px;
    padding:0px;
    font-weight: bold;
    font-size:1.5em;
}

#zanimanje{
    margin:0px 0px 0px 0px;
    padding:0px;
    font-style:italic;
    font-size:1em;
}

#kontaktiraj{
    margin-top:10px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
}

.btn-label {position: relative; display: inline-block; background: rgba(0,0,0,0.15); border-radius: 3px 0 0 3px; left:-20px;  }
.btn-labeled{
    width:100%;
}
.no-click{
    pointer-events:none;
}

.btn-circle, .btn-circle-3d{
    border-radius: 50% !important;
}

.btn-primary.btn-circle{
    -webkit-box-shadow: 0px 0px 3px 1px #245580;
    -moz-box-shadow:    0px 0px 3px 1px #245580;
    box-shadow:         0px 0px 3px 1px #245580;
}

.btn{
    -webkit-box-shadow: 0px 0px 3px 1px #245580;
    -moz-box-shadow:    0px 0px 3px 1px #245580;
    box-shadow:         0px 0px 3px 1px #245580;
    padding-top:10px !important;
    padding-bottom:10px !important;
}

.col-form-label{
    color: white;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}

.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}


.btn3d.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn3d.btn-primary{
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}

.btn3d.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
.btn3d.btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}
.btn3d.btn-default:disabled {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn3d.btn-primary:disabled{
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5) !important;
    background-color:#428bca;
}
.btn3d.btn-success:disabled {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5) !important;;
    background-color:#5cb85c;
}
.btn3d.btn-info:disabled {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5) !important;;
    background-color:#5bc0de;
}
.btn3d.btn-warning:disabled {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5) !important;;
    background-color:#f0ad4e;
}
.btn3d.btn-danger:disabled{
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5) !important;
    background-color:#c63702;
}



.page-title p {
    display: inline-block;
    font-size: 2.2em;
    color: white;
    position: relative;
    margin: 0 5px;


    text-shadow: 0px 2px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
    opacity: 0.0;
    animation: port 3s 1 forwards;
    -webkit-animation: port 3s 1 forwards;

}

.page-title div p:nth-of-type(2){
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.page-title div p:nth-of-type(3){
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.page-title div p:nth-of-type(4){
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.page-title div p:nth-of-type(5){
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.page-title div p:nth-of-type(6){
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.page-title #drugi-red p:nth-of-type(2){
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.page-title #drugi-red p:nth-of-type(3){
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.page-title #drugi-red p:nth-of-type(4){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
.page-title #drugi-red p:nth-of-type(5){
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}



@keyframes port {
    0%{
        transform: rotateY(90deg) translateY(25%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@-webkit-keyframes port {
    0%{
        -webkit-transform: rotateY(90deg) translateY(25%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@keyframes reset {
    0%{}
    100%{}
}

@-webkit-keyframes reset {
    0%{}
    100%{}
}
.text-xs-left{text-align:left!important}.text-xs-right{text-align:right!important}.text-xs-center{text-align:center!important}
@media (min-width:544px){.text-sm-left{text-align:left!important}.text-sm-right{text-align:right!important}.text-sm-center{text-align:center!important}}
@media (min-width: 768px) {.text-md-left{text-align:left!important}.text-md-right{text-align:right!important}.text-md-center{text-align:center!important}}
@media (min-width:1200px){.text-lg-left{text-align:left!important}.text-lg-right{text-align:right!important}.text-lg-center{text-align:center!important}}
