body {
    background-image: url("../backgroundImage.jpg");;
    background-size: cover;
}

.container {
    margin-top: 40px;
}

.form-control
{
    position: relative !important;
    font-size: 16px !important;;
    height: auto !important;
    padding: 8px !important;;
    -webkit-box-sizing: border-box !important;;
    -moz-box-sizing: border-box !important;;
    box-sizing: border-box !important;;


}
